*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
.con{
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border: 1px solid gray;
}
.header{
    background-color: green;
    margin: 0;
}
.header>img{
   width: 10%;
margin-left: 100px;
}
.menu{
    background-color:rgb(242, 177, 177);
}
.menu>ul>li{
    align-items: center;
    display: inline-block;
    padding:10px 50px;
    font-size: 20px;
}
.menu>ul>li>a{
    text-decoration: none;

}
.menu>ul>li>a:hover{
    color: red  ;
}
h3{
    font-size: 30px;
}
.tintuc{
    border: 1px solid gray;
    margin: 10px;
    background-color: rgb(249,231,233);
}
.tintuc1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
}
.anh>img{
    width: 90%;
}
.chu>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

}
.chu>a:hover{
    color: red;
    text-decoration: underline;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: green;
    margin-top: 30px;
    text-align: center;
    padding:  50px 20px 20px;
    color:aqua;
}
.diachi>p{
    font-size: 20px;
}
@media only screen and{max-width:600px };
.con{

    max-width: 600px;
    margin: auto;
    background-color: white;
    border: 1px solid gray;
}
.header{
    background-color: green;
    margin: 0;
}
.header>img{
   width: 10%;
margin-left: 100px;
}
.menu{
    background-color:rgb(242, 177, 177);
}
.menu>ul>li{
    align-items: center;
    display: inline-block;
    padding:10px 50px;
    font-size: 20px;
}
.menu>ul>li>a{
    text-decoration: none;

}
.menu>ul>li>a:hover{
    color: red  ;
}
h3{
    font-size: 30px;
}
.tintuc{
    border: 1px solid gray;
    margin: 10px;
    background-color: rgb(249,231,233);
}
.tintuc1{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 10px;
}
.anh>img{
    width: 90%;
}
.chu>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;

}
.chu>a:hover{
    color: red;
    text-decoration: underline;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: green;
    margin-top: 30px;
    text-align: center;
    padding:  30px 10px;
    color:aqua;
}  
.anh1>img {
    width: 50%;
}
.diachi>p{
    font-size: 10px;
    text-align: center;
margin-right: 50px;
}